.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    border: yellow solid 2px;
    padding: 10px;
  }
  
  .image{
    object-fit: cover;
  }
  
  .content {
  }
  
  .title{
    margin-bottom: 10px;
    color:wheat
  }
  
  .desc{
    font-size: 18px;
    color: #999;
  }
 